<div>

  <h3>About</h3>

  <p>This project was created in the <a href="http://www.ut.ee/en">University of Tartu</a> during the
    <a href="https://courses.cs.ut.ee/2015/algorithmics/fall">MTAT.03.238 Advanced Algorithmics</a> fall 2015 course in
    the <a href="http://www.cs.ut.ee/en">Institute of Computer Science</a>
    by <a href="https://twitter.com/TonisPool">@TonisPool</a>. I wanted to create a web visualization of the Ant Colony
    Optimisation algorithm. At the time, there were a couple of ACO visualisations out there, but none that I could find that ran in the browser, which
    makes running the visualisation much easier.
    Hopefully this helps people in understanding the algorithm and exploration of what happens with different variable
    configurations. You can read more about ACO from <a href="#algorithm">the algorithm page</a>.</p>


  <p>The code is hosted on GitHub - <a
      href="https://github.com/poolik/visual-aco">https://github.com/poolik/visual-aco</a> - and the poster that gives an overview of the project is <a href="#">here</a>.</p>

  <p>The project uses the <a href="https://jonobr1.github.io/two.js/">two.js</a> for drawing the elements and <a href="https://angularjs.org/">AngularJS</a> with
    <a href="http://getbootstrap.com/">Bootstrap</a> for the rest of the webapp. For implementing the actual <i>Ant System</i> algorithm some ideas were borrowed from
  <a href="http://www.borgelt.net/acopt.html">here</a> and <a href="https://github.com/lukedodd/ant-tsp">here</a>.</p>
</div>
